@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-color: #363f47;
    --secondry-color: #0563BB;
    --tertiary-color: #e0e0e4;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'raleway', sans-serif;
    font-weight: 700;
    letter-spacing: .3px;
}

/*  Hero Content */
.hero{
    width: 100%;
    height: 100vh;
    background: url();
    position: relative;
}

.hero-pic>img{
    width: 400px;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    border-radius: 20px;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 13%;
    transform: translateY(-50%);
}

.hero-text>h1{
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 4px;
    line-height: 56px;
    color: var(--primary-color);
    margin: 0;
    margin-bottom: 25px;
    cursor: pointer;
}

/* Hero wrapper text */
.hero--wrapper-text{
    margin-bottom: 30px;
    cursor: pointer;
}

.hero--wrapper-text>.hero--dynamic-text{
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--secondry-color);
}

.hero--static-text{
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--primary-color);
}

/* Hero Social Icons */

.hero--social-icon>i{
    font-size: 25px;
    margin-right: 12px;
    color: var(--primary-color);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.bxl-twitter:hover, 
.bxl-facebook:hover, 
.bxl-telegram:hover{
    color: dodgerblue;
}

.bxl-instagram:hover,
.bxl-youtube:hover{
    color: red;
}

.bxl-whatsapp:hover{
    color: yellowgreen;
}

.bxl-github:hover{
    color: black;
}

/*  Hero Navaber */
.hero-navbar{
    position: fixed;
    top: 50%;
    left: 1%;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    cursor: pointer;
}

.hero-navbar>span{
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-navbar>span>i{
    font-size: 20px;
    color: var(--primary-color);
}

.hero-navbar .active{
    background-color: var(--secondry-color);
}

.hero-navbar .active>i{
    background-color: var(--secondry-color);
    color: white;
}

/* About me */

.about-me{
    height: 50vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr .7fr;
    border: 1px solid black;
    align-items: center;
    color: var(--primary-color);
}

.about--me-all{
    font-weight: 600;
    margin-left: 20%;
    width: 70%;
}

.about--me-all>h1{
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 40px;
}

.about--me-all>p{
    margin-bottom: 25px;
    line-height: 1.3;
}

.about--me-contacts div{
    margin-bottom: 7px;
}

/* About Contact */

.about--me-contacts{
    display: grid;
    grid-template-columns: .7fr 1fr;
}


/* Language skills */

.lang-skills{
    height: 100%;
    background-color: rgb(255, 166, 0);
}

/* PC skills */
    
.pc-skills{
        height: 50vh;
        width: 100%;
    }