@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-color: black;
    --secondry-color: #0563BB;
    --tertiary-color: #e0e0e4;
    --fourth-color: rgb(121, 121, 121);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'raleway', sans-serif;
    letter-spacing: .3px;
}

/*  Hero Content */
.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(Images/background.jpg);
    background-position: center;
    background-size: cover;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    padding-left: 10%;
}

.hero-text>h1{
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 4px;
    line-height: 56px;
    color: var(--primary-color);
    margin: 0;
    margin-bottom: 25px;
    cursor: pointer;
}

.hero-pic>img {
    width: 400px;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    border-radius: 20px;
}

/* Hero wrapper text */
.hero--wrapper-text{
    margin-bottom: 30px;
    cursor: pointer;
}

.hero--wrapper-text>.hero--dynamic-text{
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--secondry-color);
}

.hero--static-text{
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--primary-color);
}

/* Hero Social Icons */

.hero--social-icon>i{
    font-size: 25px;
    margin-right: 12px;
    color: rgb(63, 63, 63);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.bxl-twitter:hover, 
.bxl-facebook:hover, 
.bxl-telegram:hover{
    color: dodgerblue;
}

.bxl-instagram:hover,
.bxl-youtube:hover{
    color: red;
}

.bxl-whatsapp:hover{
    color: yellowgreen;
}

.bxl-github:hover{
    color: black;
}

/*  Hero Navaber */
.hero-navbar{
    position: fixed;
    top: 50%;
    left: 1%;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    cursor: pointer;
}

.hero-navbar>span{
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-navbar>span>i{
    font-size: 20px;
    color: var(--primary-color);
}

.hero-navbar .active{
    box-sizing: content-box;
    background-color: var(--secondry-color);
    border: 2px solid rgb(238, 237, 237);
}

.hero-navbar .active>i{
    background-color: var(--secondry-color);
    color: white;
}

/* About me */

.about-me{
    height: 60vh;
    width: 90%;
    display: grid;
    grid-template-rows: 1fr .5fr;
    align-items: center;
    color: var(--primary-color);
    padding-left: 10%;
}

.about-me>h1{
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    padding-right: 10%;
    padding: 50px 10% 40px 50px;
}

.about--me-all{
    font-weight: 600;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about--me-all>h1{
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}

.about--me-pargraph>p{
    font-weight: 700;
    margin-bottom: 25px;
    line-height: 1.3;
}

.about--me-contacts div{
    margin-bottom: 7px;
}

/* About Contact */

.about--me-contacts{
    display: grid;
    grid-template-columns: .7fr 1fr;
    font-weight: 700;
}

.about--me-contacts>div:last-child{
    margin-left: 50px;
}

/* Language skills */

.dev-skills{
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
}

.html-skill,
.css-skill,
.js-skill,
.bootstrap-skill{
    width: 85%;
    margin-left: 80px;
}

.bootstrap-skill{
    margin-bottom: 35px;
}

.html-skill>div,
.css-skill>div,
.js-skill>div,
.bootstrap-skill>div{
    display: flex;
    justify-content: space-between;
}

.bars{
    display: block;
    width: 100%;
    height: 9px;
    margin: 10px 0;
    border-radius: 30px;
    background-color: var(--tertiary-color);
    overflow: hidden;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.2);
}

.html-percent{
    display: block;
    background-color: aqua;
    width: 80%;
    height: 100%;
}

.css-percent{
    display: block;
    background-color: tomato;
    width: 70%;
    height: 100%;
}

.js-percent{
    display: block;
    background-color: blueviolet;
    width: 30%;
    height: 100%;
}

.bootstrap-percent{
    display: block;
    background-color: #0563BB;
    width: 15%;
    height: 100%;
}
/* My Services Section */

.my-services{
    height: 140vh;
    width: 90%;
    display: grid;
    grid-template-rows: .4fr 1fr;
    padding-left: 10%;
}

.services-heading>h1{
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    padding: 70px 10% 0px 50px;
}

.services-heading>p{
    font-weight: 700;
    margin-bottom: 25px;
    line-height: 1.3;
    text-align: center;
    padding: 0 5% 5% 0;
}

.services-parts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-end: 0;
}

.web-devolope,
.graphic-design,
.logo-design,
.contentcreation,
.socialmedia-manage,
.services-support{
    height: 220px;
    width: 300px;
    margin: 0px 0px 20px 0;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    padding: 20px;
}

.services-parts i{
    margin-bottom: 30px;
    font-size: 70px;
    color: var(--secondry-color);
}

.services-parts span{
    font-weight: 800;
    letter-spacing: 1px;
    display: block;
    font-size: 20px;
}

.services-parts p{
    font-weight: 600;
    font-size: 15px;
}

/* Any Project */

.any-project{
    height: 60vh;
    width: 100%;
    margin-top: 5%;
    background-image: url(https://images.unsplash.com/photo-1530832958973-ecfca22d3914?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY3NTUxMzc1OA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080);
    background-position: center;
    background-size: cover;
}

.anyproject-overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(5, 99, 187, .9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.anyproject-overlay>p:first-child{
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 2px;
    color: white;
    margin: 0;
}

.anyproject-overlay > p:nth-child(2){
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
    margin: 30px;
}

.anyproject-button button{
    padding: 15px 45px;
    margin: 20px;
    border-radius: 50px;
    border: 1.5px solid white;
    background-color: transparent;
    color: white;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    transition: all .5s;
    cursor: pointer;
}

.anyproject-button button:hover{
    color: var(--secondry-color);
    border: 1.5px solid var(--secondry-color);
    background-color: white;
}

.anyproject-button>:first-child{
    padding: 15px 35px;
}

/* My Recent Works */

.recent-works{
    height: 100vh;
    width: 90%;
    padding-left: 10%;
    display: grid;
    grid-template-rows: .5fr 1fr;

}

.recentworks-heading>h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    padding: 70px 10% 0px 50px;
    margin-left: 0;
}

.recentworks-part--content{
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
}

.karafarini,
.comingsoon,
.myportfolio{
    height: 300px;
    width: 300px;
    margin: 0px 0px 20px 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    padding: 20px;
}

.karafarini>i,
.comingsoon>i,
.myportfolio>{
    font-size: 100px;
}