@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-color: #363f47;
    --secondry-color: #0563BB;
    --tertiary-color: #e0e0e4;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'raleway', sans-serif;
    letter-spacing: .3px;
}

/* All content Container */

/*  Hero Content */
.hero{
    width: 100%;
    height: 100vh;
    background: red;
    position: relative;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 0%;
    margin-left: 12%;
    transform: translateY(-50%);
}

.hero-text>h1{
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 4px;
    line-height: 56px;
    color: var(--primary-color);
    margin: 0;
    margin-bottom: 25px;
    cursor: pointer;
}

.hero-pic>img {
    width: 400px;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    border-radius: 20px;
}

/* Hero wrapper text */
.hero--wrapper-text{
    margin-bottom: 30px;
    cursor: pointer;
}

.hero--wrapper-text>.hero--dynamic-text{
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--secondry-color);
}

.hero--static-text{
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--primary-color);
}

/* Hero Social Icons */

.hero--social-icon>i{
    font-size: 25px;
    margin-right: 12px;
    color: var(--primary-color);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.bxl-twitter:hover, 
.bxl-facebook:hover, 
.bxl-telegram:hover{
    color: dodgerblue;
}

.bxl-instagram:hover,
.bxl-youtube:hover{
    color: red;
}

.bxl-whatsapp:hover{
    color: yellowgreen;
}

.bxl-github:hover{
    color: black;
}

/*  Hero Navaber */
.hero-navbar{
    position: fixed;
    top: 50%;
    left: 1%;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    cursor: pointer;
}

.hero-navbar>span{
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-navbar>span>i{
    font-size: 20px;
    color: var(--primary-color);
}

.hero-navbar .active{
    background-color: var(--secondry-color);
}

.hero-navbar .active>i{
    background-color: var(--secondry-color);
    color: white;
}

/* About me */

.about-me{
    height: 50vh;
    width: 100%;
    display: grid;
    grid-template-columns: .8fr .3fr;
    align-items: center;
    color: var(--primary-color);
    margin-left: 12%;
}

.about--me-all{
    font-weight: 600;
    width: 100%;
}

.about--me-all>h1{
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 40px;
}

.about--me-all>p{
    font-weight: 700;
    margin-bottom: 25px;
    line-height: 1.3;
}

.about--me-contacts div{
    margin-bottom: 7px;
}

/* About Contact */

.about--me-contacts{
    display: grid;
    grid-template-columns: .7fr 1fr;
    font-weight: 700;
}

.about--me-contacts>div:last-child{
    margin-left: 50px;
}

/* Language skills */

.lang-skills{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    font-weight: 700;
}

.persian-skill,
.pashto-skill,
.english-skill,
.arabic-skill{
    margin-bottom: 10px;
    width: 75%;
}

.arabic-skill{
    margin-bottom: 35px;
}

.persian-skill>div,
.pashto-skill>div,
.english-skill>div,
.arabic-skill>div{
    display: flex;
    justify-content: space-between;
}

.bars{
    display: block;
    width: 100%;
    height: 9px;
    margin: 10px 0;
    border-radius: 30px;
    background-color: var(--tertiary-color);
    overflow: hidden;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.2);
}

.persian-percent{
    display: block;
    background-color: aqua;
    width: 85%;
    height: 100%;
}

.pashto-percent{
    display: block;
    background-color: tomato;
    width: 50%;
    height: 100%;
}

.english-percent{
    display: block;
    background-color: blueviolet;
    width: 50%;
    height: 100%;
}

.arabic-percent{
    display: block;
    background-color: #0563BB;
    width: 25%;
    height: 100%;
}

/* PC skills */
    
.technical-skills{
    height: 50vh;
    width: 100%;
    background: #363f47;
}

.technical--skill-content{
    margin-left: 12%;
}
